.albumsList-title {
  margin: 1.5vw 0 1vw 3vw;
  font-size: 1.75vw;
}

.container {
  padding: 0;
}

.album-imgContainer {
  margin: auto;
  width: 16vw;
  height: 9vw;
  border: 0.1vw solid black;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
}

.album-image {
  width: 100%;
}

.album-title {
  margin: auto auto 15px auto;
  width: 16vw;
  font-size: 1vw;
  text-align: center;
}
