.albumInfo-container {
  padding: 0 2.5vw;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2.5px;
}

.albumInfo-title {
  font-size: 2vw;
}

.albumInfo-user {
  font-size: 1.5vw;
}

.albumInfo-username :hover {
  color: rgba(0, 162, 255, 0.795);
}

/* Estilos para la versión móvil */
@media screen and (max-width: 767px) {
  .albumInfo-title {
    font-size: 5vw;
  }

  .albumInfo-user {
    font-size: 4vw;
  }
}
