header {
  height: 6.5vw;
  color: #ffffff;
  background-color: #ff4f00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

.header {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.header-logo {
  width: 5vw;
}

.header-logo {
  color: #ffce00;
  margin: 0 0.5vw;
}
