header {
  margin-bottom: 2.25vw;
  height: 5vw;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
}

.header {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.header-logo {
  color: red;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 767px) {
  header {
    height: 15vw;
    font-size: 9vw;
  }
}
