.page-container {
  width: 70vw;
  margin: auto;
}

body {
  background-image: url("https://picsum.photos/1920/1080");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 767px) {
  body {
    background-image: url("https://picsum.photos/1080/1920");
  }
  .page-container {
    width: 95%;
  }
}
