.userProfile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2vw 0 1vw 3vw;
}

.userProfile-link {
  display: inherit;
}

.userProfile-imgContainer {
  margin: 0;
  width: 5vw;
  height: 5vw;
  border: 0.1vw solid black;
  border-radius: 50%;
  overflow: hidden;
}

.user-photo {
  width: 100%;
  height: 100%;
}

.userProfile-info {
  margin: 0 1vw;
  display: inherit;
  flex-direction: column;
  justify-content: center;
}

.info-username {
  font-size: 1.5vw;
}

.info-name {
  font-size: 1.25vw;
}
