.userProfile-container {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5vw;
  border-radius: 0.5vw;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.userProfile-link {
  display: inherit;
}

.user-photo {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  overflow: hidden;
}

.userProfile-info {
  margin: 0 1vw;
  display: inherit;
  flex-direction: column;
  justify-content: center;
}

.info-username {
  font-size: 1.5vw;
}

.info-name {
  font-size: 1.25vw;
}

@media screen and (max-width: 767px) {
  .userProfile-container {
    padding: 1vw;
  }

  .user-photo {
    width: 15vw;
    height: 15vw;
  }

  .info-username {
    font-size: 5vw;
  }

  .info-name {
    font-size: 4vw;
  }
}
