.userProfile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 45px;
}

.userProfile-link {
  display: inherit;
}

.userProfile-imgContainer {
  margin: 0;
  width: 75px;
  height: 75px;
  border: 1px solid black;
}

.userProfile-info {
  margin: 0 20px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
}

.info-username {
  font-size: 1em;
}

.info-name {
  font-size: 0.9em;
}
